$white: #F2F2F2;
$black: #0D0D0D;
$purple: #B100DB;

@font-face {
	font-family: FiraCode;
	src: url('../../assets/fonts/FiraCode.ttf') format('truetype');
}

.Container {
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
}

.Title {
	color: $purple;
	font-family: FiraCode;
	text-align: center;
}

.Inputs {
	display: flex;

	& div {
		flex: 1;

		&:first-child {
			text-align: right;
			margin-right: 30px;
			margin-bottom: 18px;
		}
	}
}

.Input {
	padding: 15px;
	border: 1px solid $black;
	border-radius: 30px;
	background-color: transparent;
	font-family: FiraCode;
	text-align: center;
	outline: none;
	transition: all .2s linear;

	&:focus {
		color: $white;
		background-color: $black;
	}
	&:focus::-webkit-input-placeholder {
		color: $white;
	}
}

.Button {
	font-family: FiraCode;
	padding: 12px 35px 12px 35px;
	background-color: $black;
	color: $white;
	border: none;
	border-radius: 10px;
	transition: all .2s linear;
	outline: none;

	&:hover {
		background-color: #B100DB;
	}
}

.ButtonDiv {
	text-align: center;
}