$white: #F2F2F2;
$black: #0D0D0D;
$purple: #B100DB;

@font-face {
	font-family: FiraCode;
	src: url('../../assets/fonts/FiraCode.ttf') format('truetype');
}

.Container {
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;

	& div {
		text-align: center;
	}
}

.Title {
	color: $purple;
	font-family: FiraCode;
	text-align: center;
}

.Button {
	width: 125px;
	height: 46px;
	font-family: FiraCode;
	background-color: $black;
	color: $white;
	border: none;
	border-radius: 10px;
	transition: all .2s linear;
	outline: none;
	margin-bottom: 10px;

	&:hover {
		background-color: #B100DB;
	}
}

.Employee {
	display: flex;
	align-items: center;

	&:nth-child(odd) {
		background-color: #CAE8D5;
	}

	& div {
		color: $black;
		font-family: FiraCode;
		
		&:first-child {
			flex: 4;
			text-align: right;
		}

		&:nth-child(2) {
			flex: 1;
		}

		&:last-child {
			flex: 4;
			text-align: left;
		}
	}
}

.SVG {
	transition: all .2s linear;
	cursor: pointer;

	&:hover {
		stroke: $purple;
	}
}