$white: #F2F2F2;
$black: #0D0D0D;
$purple: #B100DB;

@font-face {
	font-family: FiraCode;
	src: url('../../assets/fonts/FiraCode.ttf') format('truetype');
}

.IssuesMain {
	display: flex;
	padding-top: 60px;
	flex-direction: column;
	padding-bottom: 60px;
}

.IssuesTitle {
	color: $purple;
	font-family: FiraCode;
	text-align: center;
}

.Issue {
	display: flex;
	color: $black;
	font-family: FiraCode;
	
	&:nth-child(odd) {
		background-color: #CAE8D5;
	}
}

.Issue div {
	&:nth-child(1) {
		text-align: right;
		flex: 2;
	}
	&:nth-child(2) {
		text-align: center;
		flex: 1;
	}
	&:nth-child(3) {
		text-align: left;
		flex: 2;
	}
}

.SVG {
	transition: all .2s linear;
	cursor: pointer;

	&:hover {
		stroke: $purple;
	}
}