$white: #F2F2F2;
$black: #0D0D0D;
$purple: #B100DB;

@font-face {
	font-family: FiraCode;
	src: url('../../assets/fonts/FiraCode.ttf') format('truetype');
}

.profileMain {
	display: flex;
	flex-direction: row;
	padding-bottom: 60px;
}

.profileMain div {
	font-family: FiraCode;
}

.profileMainLeft {
	padding-top: 60px;
	flex: 4;
}

.profileMainLeftTitle {
	text-align: center;
}

.profileMainLeftMain {
	display: flex;
}

.profileMainLeftMainLeft {
	flex: 18;
	text-align: right;
	padding-right: 30px;
	padding-bottom: 8px;
}

.profileMainLeftMainRight {
	flex: 19;
}

.profileMainRight {
	flex: 5;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 60px;
}

.profileMainRightRent {
	display: flex;
	align-items: center;
}

.profileMainRightRentImage {
	height: 60px;
	width: 106.5px;
	border-radius: 10px;
}

.profileMainRightRent div {
	flex: 1;
}

.profileMainRightRent div:nth-child(2) {
	flex: 2;
}

.profileMainRightRent div:nth-child(3) {
	flex: 3;
}

.profileEdit {
	padding-top: 55px;
	text-align: center;
}

.profileEdit a {
	color: $purple;
	text-decoration: none;
}